body {
  font-family: "Poppins", sans-serif;
  color: hsl(257, 7%, 63%);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: hsl(255, 11%, 22%);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

nav ul {
  width: 100%;
  padding: 0 8%;
}

nav ul li a {
  padding: 5px 10px;
  color: hsl(257, 7%, 63%);
  font-size: 14px;
}

nav ul li a:hover {
  color: hsl(255, 11%, 22%);
}

nav .logo {
  color: hsl(255, 11%, 22%);
  font-size: 1.65rem;
  font-weight: 700;
}

.right {
  margin-right: auto;
}

button {
  font-family: "Poppins", sans-serif;
  background-color: hsl(180, 66%, 49%);
  padding: 7px 20px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: hsl(180, 66%, 49%);
}

.sign-up {
  border-radius: 20px;
  font-size: 14px;
}

.get-started {
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  padding: 9px 25px;
  margin-top: 10px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* 
// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #navbar .logo {
    margin-left: 100px;
  }

  header {
    display: flex;
  }

  .header-text {
    margin-left: 100px;
  }

  header img {
    width: 45%;
  }

  header h1 {
    font-size: 60px;
    margin-bottom: 0;
    line-height: 75px;
  }
  header p {
    width: 90%;
    margin-top: 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 15px 10px;
  }
  .menu li.button {
    padding-right: 0;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
